body {
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.topper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}

.main {
  border-left: 1px solid #eee;
  margin: 10px 0;
  padding-right: 0;
}

.jumbotron {
  text-align: right;
}

.offset-col {
  display: hidden;
}

pre {
  border-color: #555;
  background-color: #eee;
  border-radius: 0;
}

pre code[class*="language-"] {
  text-shadow: none;
  color: #555;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-col {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
  }

  .offset-col {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar-nav {
  overflow-x: hidden;
}

.nav>li.api-link>a {
  display: table-cell;
}

li.endpoint-link {
  padding-left: 15px;
  font-size: .8em;
  white-space: nowrap;
}

li.endpoint-link .method {
  text-transform: uppercase;
}

li.endpoint-link .method.get {
  color: #0f6ab4;
}

li.endpoint-link .method.post {
  color: #10a54a;
}

li.endpoint-link .method.put {
  color: #e68a00;
}

li.endpoint-link .method.delete {
  color: #a41e22;
}

.sidebar-nav .navbar {
  margin-bottom: 0;
  padding-left: 10px;
}

.navbar-default {
  border: none;
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
}

.navbar-default .navbar-collapse {
  border: none;
}

.sidebar-nav a {
  color: #000;
}

.sidebar-nav a:hover {
  text-decoration: none;
}

.apis {
  padding: 0 15px;
}

.blurb {
  padding: 0 30px;
}

.short {
  float: right;
}

.badge {
  background-color: #eee;
  border: 1px solid #555;
  color: #555;
  font-weight: normal;
}

.endpoints {
  margin-top: 15px;
}

.errors, .permissions {
  margin-bottom: 10px;
}

/* endpoint formatting */

.endpoint {
  margin-bottom: 15px;
  border: 1px solid;
}

.endpoint .method {
  color: #fff;
  float: left;
  padding: 15px;
  margin-right: 15px;
  background-color: #555;
  font-weight: bold;
  width: 90px;
}

.endpoint .head {
  background-color: #ddd;
  padding: 15px;
  color: #555;
}

.endpoint .body {
  padding: 15px;
}

/* get endpoints */

.endpoint.get {
  border-color: #0f6ab4;
}

.endpoint.get .head {
  background-color: #c3d9ec;
}

.endpoint.get .method {
  background-color: #0f6ab4;
}

/* post endpoints */

.endpoint.post {
  border-color: #10a54a;
}

.endpoint.post .head {
  background-color: #c3e8d1;
}

.endpoint.post .method {
  background-color: #10a54a;
}

/* put endpoints */

.endpoint.put {
  border-color: #e68a00;
}

.endpoint.put .head {
  background-color: #f5ecd9;
}

.endpoint.put .method {
  background-color: #e68a00;
}

/* delete endpoints */

.endpoint.delete {
  border-color: #a41e22;
}

.endpoint.delete .head {
  background-color: #f3d6d7;
}

.endpoint.delete .method {
  background-color: #a41e22;
}

/* permission types */

.permission.allow {
  border-color: #10a54a;
  background-color: #c3e8d1;
}

.permission.deny {
  border-color: #a41e22;
  background-color: #f3d6d7;
}

/* utilities */

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
