body {
  overflow-x: hidden;
}

.body {
  border-left: 1px solid #eee;
  margin: 10px 0;
}

.jumbotron {
  text-align: right;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-default {
  border: none;
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
}

.api-list {
  padding: 0 15px;
}

.blurb {
  padding: 0 30px;
}
